@{
    ViewData["Title"] = "Pizza Place";
}

<div>
    <h1>Pizza Place UI</h1>

    <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
    <br />
    <a class="nav-link" asp-area="" asp-controller="OrderDetails" asp-action="Index">Order Details</a>
    <br />
    <a class="nav-link" asp-area="" asp-controller="Pizzas" asp-action="Pizzas">Pizzas</a>
    <br />
    <a class="nav-link" asp-area="" asp-controller="PizzaTypes" asp-action="PizzaTypes">Pizza Types</a>
</div>